version: "3.3"
services:
  php:
    build: 
      context: ./php
    volumes:
      - ..:/var/www/html
    ports:
      - "9000:9000"
  nginx:
    build: 
      context: ./nginx
    volumes:
      - ..:/var/www/html
    ports:
      - "80:80"
      - "443:443"
  mysql:
    build: 
      context: ./mysql
    environment: 
      MYSQL_ALLOW_EMPTY_PASSWORD: "true"
    ports:
      - "3306:3306"