// As I prefer the bracket syntax, I'm using SCSS and not SASS

$primary: rgba(38, 166, 91, 1);

$headerSize: calc(1rem + 7vmin);

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

h2, h3, h4, h5, h6 { font-weight: bold; }
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.7rem;
}

.m5 { margin: 20px; }

header {
    background: $primary;
    height: $headerSize;
    
    text-transform: uppercase;
    font-family: 'Odibee Sans';

    display: flex;
    justify-content: space-between;

    * {
        height: $headerSize;
        line-height: $headerSize;
        color: white;
    }

    h1 {
        font-size: calc(1rem + 2vmin);

        a {
            float: left;
    
            img {
                height: $headerSize;
                padding: 10px;
            }
        }
    }

    nav {
        margin-right: 40px;

        ul {
            display: flex;

            li {
                height: $headerSize;
                line-height: $headerSize;

                margin: 0 12px;

                a {
                    font-size: calc(1rem + 1.2vmin);
                }
            }
        }
    }
}

app-error {
    color: firebrick;
    font-size: 14px;
}

main {
    width: 70vw;
    margin: $headerSize auto;

    form {
        
        > * {
            margin: 10px auto;
            width: fit-content;
        }

        p {
            text-align: center;
        }

        ul {
            list-style-type: disc;
        }
        
        hr {
            width: 25%;
        }
    }
}

.biglist {
    li {
        padding: 20px;
        font-size: 1.5rem;
        border: 1px solid skyblue;

        h6 {
            display: inline;
        }
    }
}