<?php

namespace {CACHE_NAMESPACE}App\Entity;

class {PROXY} extends {ENTITY}
{
    public function __construct(private callable $get)
    { }

    public function __get(string $property)
    {
        $this->get()->{$property};
    }

    public function __set(string $property, mixed $value)
    {
        $this->get()->{$property} = $value;
    }
}