<?php

namespace {CACHE_NAMESPACE}App\Entity;

class {PROXY} extends \{ENTITY}
{
    private $get;
    
    public function __construct(public int $id, callable $get)
    {
        $this->get = $get;
    }

    public function __get(string $property)
    {
        return ($this->get)()->{$property};
    }

    public function __set(string $property, mixed $value)
    {
        ($this->get)()->{$property} = $value;
    }
}